<script>
 window.gameName = "<%= @gameName %>";
</script>

<div class="row">
  <div class="column">
    <h1>BreakoutPong Game: <%= @gameName %></h1>
    <div id="root">
      React component loading...
    </div>
  </div>
</div>
