<div id= "index page"  class="row">
  <div class="column">
    <h1 id="index-page">Join a Breakout-Pong Game</h1>
    <%= form_for @conn, "/game", fn func -> %>
      <p>Enter game name: <%= text_input func, :gameName %></p>
      <p>Enter player name: <%= text_input func, :playerName %></p>
      <p><%= submit "Join Game" %></p>
    <% end %>
  </div>
</div>
